<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Tickets</title>
  <link rel="stylesheet" type="text/css" href="/css/listMovies.css">
</head>
<body>
<h1>List tickets</h1>
<ul th:each="ticket : ${tickets}">
    <li>
        <span th:text="${ticket.toString()}"></span><br>
        <span th:text="${ticket.getDateCreated()}"></span><br>
        <th:block>
            <a th:href="@{'/ticketOrder/edit-ticket/{id}' (id=${ticket.getId()})}">
                Edit
            </a>
        </th:block>
        <th:block>
            <a th:href="@{'/ticketOrder/duplicate/{id}' (id=${ticket.getId()})}">
                Duplicate
            </a>
        </th:block>
    </li>
</ul>
</body>
</html>