<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Movie Ticket Order page - Welcome and choose a Movie</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Movie Ticket Shop App</h1>
</header>
<main>
    <h2>Search movie: </h2>
    <form action="" method="get">
        <h2>Search Movies:</h2>
        <input type="text" name="title" placeholder="Enter movie title"><br/>
        <input type="number" name="rating" min="1" max="10" value="1" placeholder="Min rating"><br/>
        <input type="submit" value="Search">
    </form>
    <h2>Choose movie:</h2>
    <form action="" method="post">
        <ul th:each="movie : ${movies}">
            <li>
                <input type="radio" name="movieTitle" th:value="${movie.getTitle()}">
                <span th:text="${movie.toString()}"></span>
            </li>
        </ul>
        <h2>Choose number of tickets:</h2>
        <input type="number" name="numTickets" min="1" max="10" value="1"><br/>
        <br/>
        <input type="submit" value="Submit">
    </form>
    <h2>Rate movie: </h2>
    <form action="" method="get">
        <input type="text" name="titleToRate" placeholder="Enter movie that you want to rate">
        <input type="number" min="1" max="10" name="movieRating">
        <input type="submit" value="Rate" placeholder="Rating">
    </form>
</main>
</body>
</html>